# Extremely Lossy Data Cleaning

In [5]:
import numpy as np
import pandas as pd

In [6]:
train_df = pd.read_csv('input/shot_logs.csv')
train_df.head()

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,...,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,...,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,...,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,...,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,...,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,...,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [7]:
del train_df['SHOT_RESULT'] #basically FGM, but text
del train_df['W'] #basically FINAL_MARGIN, but W/L, not converting that
del train_df['CLOSEST_DEFENDER'] #it's a name, ignore for now
del train_df['player_name'] #see above
del train_df['CLOSEST_DEFENDER_PLAYER_ID'] #basically a name but in digits
del train_df['player_id'] #see above
del train_df['PTS'] #covers FGM
del train_df['MATCHUP'] #text where the only signifigant bit is covered by LOCATION
del train_df['GAME_ID'] #name but numbers again
del train_df['GAME_CLOCK'] #not a number, will probably be converted to seconds at some point, but this is a baseline so I'm ignoring

#replace all NaN in SHOT_CLOCK with 0 instead of deleting those rows
train_df['SHOT_CLOCK'] = train_df['SHOT_CLOCK'].fillna(0)
#convert LOCATION from H/A to 1/0
train_df['LOCATION'] = train_df['LOCATION'].map({'H': 1, 'A': 0})
train_df.head()

,LOCATION,FINAL_MARGIN,SHOT_NUMBER,PERIOD,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,CLOSE_DEF_DIST,FGM
0,0,24,1,1,10.8,2,1.9,7.7,2,1.3,1
1,0,24,2,1,3.4,0,0.8,28.2,3,6.1,0
2,0,24,3,1,0.0,3,2.7,10.1,2,0.9,0
3,0,24,4,2,10.3,2,1.9,17.2,2,3.4,0
4,0,24,5,2,10.9,2,2.7,3.7,2,1.1,0

In [9]:
train_df.to_csv("lossy_data.csv", index=False)